<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canarias.rentacar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <!-- Acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Vibración del Teléfono -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Localización -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- OpenGL ES 2.0. para la API de Google Maps -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <!-- Escribir en el almacenamiento externo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Leer el estado del teléfono -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Leer desde el almacenamiento externo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Acceder al estado de la red -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Leer de Google Services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TranslucentActionBar" >
        <!-- Debug -->
        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAsRHSeTzOeWLr2Y3g4w82efpoZlyO_zLY" />-->
        <!-- Release -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDV_5o3FKPQt_DfT3RF1r9RALwkaoctjLo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.canarias.rentacar.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.canarias.rentacar.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.canarias.rentacar.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.HomeActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.CarListActivity"
            android:label="@string/title_car_list"
            android:parentActivityName="com.canarias.rentacar.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.HomeActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.CarDetailActivity"
            android:label="@string/title_car_detail"
            android:parentActivityName="com.canarias.rentacar.CarListActivity"
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.CarListActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.OfficeListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_office_list"
            android:parentActivityName="com.canarias.rentacar.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.HomeActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.OfficeDetailActivity"
            android:label="@string/title_office_detail"
            android:parentActivityName="com.canarias.rentacar.OfficeListActivity"
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.OfficeListActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.ReservationListActivity"
            android:label="@string/title_reservation_list"
            android:parentActivityName="com.canarias.rentacar.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.HomeActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.ReservationDetailActivity"
            android:label="@string/title_reservation_detail"
            android:parentActivityName="com.canarias.rentacar.ReservationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.ReservationListActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="com.canarias.rentacar.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.HomeActivity" />
        </activity>
        <activity
            android:name="com.canarias.rentacar.SlideActivity"
            android:label="@string/title_activity_slide"
            android:parentActivityName="com.canarias.rentacar.HelpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canarias.rentacar.HelpActivity" />
        </activity>
    </application>

</manifest>
